{% extends "layout.html" %}
{% block title %}Available images{% endblock %}
{% block content %}

<table>
  <tr>
    <th>Image</th>
    <th>Size</th>
    <th>Last modified</th>
    <th>Description</th>
  </tr>

  {% for image in images %}
  <tr>
    <td><a href="{{ image.access_url }}">{{ image.Key }}</a></td>
    <td>{{ image.Size }}</td>
    <td>{{ image.LastModified.strftime('%Y-%m-%d %H:%M:%S %Z') }}</td>
    <td>
      {% if image.tags.description is defined %}
      {{ image.tags.description }}
      {% endif %}
    </td>
  {% endfor %}
</table>

{% endblock %}
