{% extends "layout.html" %}
{% block title %}Available images{% endblock %}
{% block content %}

<table>
  <tr>
    <th>Image</th>
    <th>Size</th>
    <th>Last modified</th>
    <th>Description</th>
    <th>Source URL</th>
  </tr>

  {% for image in images %}
  <tr>
    <td><a href="{{ image.access_url }}">{{ image.tags.display_name|default(image.Key) }}</a></td>
    <td>{{ image.tags.virtual_size|default(image.Size) }}</td>
    <td>{{ image.LastModified.strftime('%Y-%m-%d %H:%M:%S %Z') }}</td>
    <td>
      {{ image.tags.description|default('') }}
    </td>
    <td>
      {% if image.tags.url is defined %}
      <a href="{{ image.tags.url }}">{{ image.tags.url }}</a>
      {% endif %}
    </td>
  {% endfor %}
</table>

{% endblock %}
